html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px !important;
}

.header{
    background: #24292e;
    width: 100%;
    height: auto;
    padding: 10px 15px;
}

.header h4{
    color: white;
    margin: 0;
    line-height: 1;
}

.header .header-icon{
    width: 32px;
    height: 32px;
    margin-right: 16px;
    margin-top: -1px;
}

.lottie-demo{
    width: 80%;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
    .lottie-demo{
        width: 70%;
    }
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
    .lottie-demo{
        width: 60%;
    }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
    .lottie-demo{
        width: 50%;
    }
}

.info {
    font-size: 14px;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
    color: #666;
}

.footer {
    position: absolute;
    z-index: 3;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    line-height: 14px;
    color: #999;
    zoom: 1;
    background-color: #f5f5f5;
}

.fix-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#progressBar {
    transition: none !important;
}

#exportBtn{
    margin-bottom: 20px;
}